<div >
    <app-header></app-header>
</div>

<div *ngIf="!search; else searchprojectBlock">
<div *ngFor="let post of projectpost;let i = index;">
    <div class="post-bar">
        <div class="post_topbar">
            <div class="usy-dt">
                <img src="../../../../assets/images/resources/user.png" alt="">
                <div class="usy-name">
                    <h3><b>{{post.data.name}}</b></h3>
                    <span><img src="../../../../assets/clock.png"
                            alt="">{{post.timeStamp| date:'full'}}
                    </span>
                </div>
            </div>
        </div>
        <div class="epi-sec">
            <ul class="descp">
                <li><img src="../../../../assets/images/icon9.png"
                        alt=""><span>{{post.data.country1}}</span>
                </li>
            </ul>
            <ul class="bk-links">
                <li>
                    <a title="">
                        <span class="material-icons-outlined"
                            *ngIf="post.data.email==email">
                            <img src="../../../../assets/1x/outline_edit_note_black_24dp.png"
                                (click)="editproject(post,updateproject)">Edit
                        </span>
                    </a>
                </li>
                <li>
                    <a title="">
                        <span class="material-icons-outlined"
                            *ngIf="post.data.email==email">
                            <img src="../../../../assets/1x/outline_delete_black_24dp.png"
                                (click)="Deleterecordproject(post.id)">Delete
                        </span>
                    </a>
                </li>
            </ul> 
        </div>
        <div class="job_descp">
            <h3> {{post.data.title1| uppercase}}</h3>
            <ul class="job-dt">
                <li><a  title="">Project Cost Ranges</a></li>
                <li><span> {{post.data.price1 | currency:'INR':'code'}} </span>
                </li>
                <li><span>to</span></li>
                <li><span>{{post.data.price2 | currency:'INR' :'code'}} </span>
                </li>
            </ul>
            <h5 class="text-warning ">Description</h5>
            <p>{{post.data.description1}}</p>
            <h6 class="text-danger ">Skill</h6>
            <p>{{post.data.skills1}}</p>
        </div>
    </div>
</div>
</div>
<ng-template #searchprojectBlock>
    <div *ngFor="let post of searchItem;let i = index;">
        <div class="post-bar">
            <div class="post_topbar">
                <div class="usy-dt">
                    <img src="../../../../assets/images/resources/user.png" alt="">
                    <div class="usy-name">
                        <h3><b>{{post.data.name}}</b></h3>
                        <span><img src="../../../../assets/clock.png"
                                alt="">{{post.timeStamp| date:'full'}}
                        </span>
                    </div>
                </div>
    
            </div>
            <div class="epi-sec">
                <ul class="descp">
                    <li><img src="../../../../assets/images/icon9.png"
                            alt=""><span>{{post.data.country1}}</span>
                    </li>
                </ul>
                <ul class="bk-links">
                    <li>
                        <a title="">
                            <span class="material-icons-outlined"
                                *ngIf="post.data.email==email">
                                <img src="../../../../assets/1x/outline_edit_note_black_24dp.png"
                                    (click)="editproject(post,updateproject)">Edit
                            </span>
                        </a>
                    </li>
                    <li>
                        <a title="">
                            <span class="material-icons-outlined"
                                *ngIf="post.data.email==email">
                                <img src="../../../../assets/1x/outline_delete_black_24dp.png"
                                    (click)="Deleterecordproject(post.id)">Delete
                            </span>
                        </a>
                    </li>
                </ul>      
            </div>
            <div class="job_descp">
                <h3> {{post.data.title1| uppercase}}</h3>
                <ul class="job-dt">
                    <li><a  title="">Project Cost Ranges</a></li>
                    <li><span> {{post.data.price1 | currency:'INR':'code'}} </span>
                    </li>
                    <li><span>to</span></li>
                    <li><span>{{post.data.price2 | currency:'INR' :'code'}} </span>
                    </li>
                </ul>
                <h5 class="text-warning ">Description</h5>
                <p>{{post.data.description1}}</p>
                <h6 class="text-danger ">Skill</h6>
                <p>{{post.data.skills1}}</p>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #updateproject>
    <div>
        <div class="post-project">
            <h3>Post a project</h3>
            <div class="post-project-fields">
                <form [formGroup]="postprojectform" (ngSubmit)="updateprojects()">
                    <div class="row">
                        <div class="col-lg-12">
                            <input type="text" formControlName="title1" placeholder="Title">
                        </div>
                        <div *ngIf="postprojectform.controls.title1.invalid && ((postprojectform.controls.title1.dirty || postprojectform.controls.title1.touched) || isFormValid)"
                            class="alert alert-danger">
                            <div *ngIf="postprojectform.controls.title1.errors?.required">
                                Title is required.
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <input type="text" formControlName="country1" placeholder="country">
                        </div>
                        <div class="col-lg-12">
                            <input type="text" formControlName="skills1" placeholder="Skills">
                        </div>
                        <div class="col-lg-12">
                            <div class="price-sec">
                                <div class="price-br">
                                    <input type="text" formControlName="price1" placeholder="Price">
                                    <i class="la la-dollar"></i>
                                </div>
                                <span>To</span>
                                <div class="price-br">
                                    <input type="text" formControlName="price2" placeholder="Price">
                                    <i class="la la-dollar"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <textarea formControlName="description1" placeholder="Description"></textarea>
                        </div>
                        <div class="col-lg-12">
                            <ul>
                                <li><button mat-raised-button color="warn" type="submit">Update</button>
                                </li>
                                <li><button (click)="close()" mat-raised-button>Cancel</button></li>
                            </ul>
                        </div>
                    </div>
                </form>
            </div>
            <a (click)="close()" title="">(X)</a>
        </div>
    </div>
</ng-template>