<div class="main-w3layouts wrapper sign-in">
    <h1>Workwise SignUp Form</h1>
    <div class="main-agileinfo">
        <div class="agileits-top">
            <div class="row" *ngIf="authError">
                <div class="col-12 alert alert-danger">
                  {{ authError?.message }}
                </div>
              </div>
            <form [formGroup]="RegisterForm" (ngSubmit)="regdata()">
                <div class="form-group">
                    <input class="text" type="text" formControlName="fullname" placeholder="Fullname" required="">
                </div>
                <div *ngIf="RegisterForm.controls.fullname.invalid && ((RegisterForm.controls.fullname.dirty || RegisterForm.controls.fullname.touched) || isFormValid)"
                    class="alert alert-danger">
                    <div *ngIf="RegisterForm.controls.fullname.errors?.required">
                        Fullname is required.
                    </div>
                    <div *ngIf="RegisterForm.controls.fullname.errors?.maxlength">
                        Fullname cannot be more than
                        {{RegisterForm.controls.fullname.errors?.maxlength?.requiredLength}} characters long.
                    </div>
                    <div *ngIf="RegisterForm.controls.fullname.errors?.minlength">
                        Fullname must be at least 3 characters long.
                    </div>
                </div>
                <div class="form-group">
                    <input class="text email" type="email" formControlName="email" placeholder="Email" required="">
                </div>
                <div *ngIf="RegisterForm.controls.email.invalid && ((RegisterForm.controls.email.dirty || RegisterForm.controls.email.touched) || isFormValid)"
                    class="alert alert-danger">
                    <div *ngIf="RegisterForm.controls.email.errors?.required">
                        email is required.
                    </div>
                    <div *ngIf="RegisterForm.controls.email.errors?.pattern" class="error"><sup>*</sup>Please enter
                        correct
                        email</div>
                </div>

                <div class="form-group">
                    <input class="text" (keypress)="keyPress($event)" type="text" formControlName="mobilenumber"
                        placeholder="Phonenumber" minlength="10" maxlength="10" required="">
                </div>
                <div *ngIf="RegisterForm.controls.mobilenumber.invalid && ((RegisterForm.controls.mobilenumber.dirty || RegisterForm.controls.mobilenumber.touched) || isFormValid)"
                    class="alert alert-danger">
                    <div *ngIf="RegisterForm.controls.mobilenumber.errors?.required">
                        mobilenumber is required.
                    </div>
                    <div *ngIf="RegisterForm.controls.mobilenumber.errors?.maxlength">
                        mobilenumber cannot be more than
                        {{RegisterForm.controls.username.errors?.maxlength?.requiredLength}} characters long.
                    </div>
                    <div *ngIf="RegisterForm.controls.mobilenumber.errors?.minlength">
                        mobilenumber must be at least 10 characters long.
                    </div>

                </div>
                <br>
                <div class="form-group">
                    <input class="text" type="text" formControlName="profession" placeholder="Profession" required="">
                </div>
                <div *ngIf="RegisterForm.controls.profession.invalid && ((RegisterForm.controls.profession.dirty || RegisterForm.controls.profession.touched) || isFormValid)"
                    class="alert alert-danger">
                    <div *ngIf="RegisterForm.controls.profession.errors?.required">
                        profession is required.
                    </div>
                    <div *ngIf="RegisterForm.controls.profession.errors?.maxlength">
                        profession cannot be more than
                        {{RegisterForm.controls.profession.errors?.maxlength?.requiredLength}} characters long.
                    </div>
                    <div *ngIf="RegisterForm.controls.profession.errors?.minlength">
                        profession must be at least 8 characters long.
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <input class="text" type="text" formControlName="gender" placeholder="Gender" required="">
                </div>
                <div *ngIf="RegisterForm.controls.gender.invalid && ((RegisterForm.controls.gender.dirty || RegisterForm.controls.gender.touched) || isFormValid)"
                    class="alert alert-danger">
                    <div *ngIf="RegisterForm.controls.gender.errors?.required">
                        Gender is required.
                    </div>

                    <div *ngIf="RegisterForm.controls.gender.errors?.minlength">
                        Gender must be at least 4 characters long.
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <div class="form-group col-lg-12 no-pdd">
                        <div class="sn-field">
                            <input type="password" formControlName="password" placeholder="Password">
                            <div *ngIf="RegisterForm.controls.password.invalid && ((RegisterForm.controls.password.dirty || RegisterForm.controls.password.touched) || isFormValid)"
                                class="alert alert-danger">
                                <div *ngIf="RegisterForm.controls.password.errors?.required">Password is required</div>
                                <div *ngIf="RegisterForm.controls.password.errors?.minlength">Password must be at least
                                    8
                                    characters</div>
                                <div *ngIf="RegisterForm.controls.password.errors?.maxlength">Password not more than 20
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br><br><br><br>
                <div class="form-group">
                    <div class="form-group col-lg-12 no-pdd">
                        <div class="sn-field">
                            <input type="password" formControlName="confirmpassword" placeholder="Confirm Password">
                            <div *ngIf="RegisterForm.controls.confirmpassword.invalid && ((RegisterForm.controls.confirmpassword.dirty || RegisterForm.controls.confirmpassword.touched) || isFormValid)"
                                class="alert alert-danger">
                                <div *ngIf="RegisterForm.controls.confirmpassword.errors?.required">Password is required
                                </div>
                                <div *ngIf="RegisterForm.controls.confirmpassword.errors?.minlength">Password must be at
                                    least
                                    8
                                    characters</div>
                                <div *ngIf="RegisterForm.controls.confirmpassword.errors?.maxlength">Password not more
                                    than 20
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br><br><br><br>
                <div class="form-group">
                    <input type="submit" value="SIGNUP">
                </div>
            </form>
            <p>Already have an Account? <a routerLink=""> Login Now!</a></p>
        </div>
    </div>
</div>