<div class="post-st">
    <ul>
        <li><a (click)="openproject(postproject)" title="">Post a Project</a></li>
        <li><a class="active" (click)="openjob(postjobs)" title="">Post a Job</a></li>
    </ul>
</div>

<ng-template #postproject>
    <div>
        <div class="post-project">
            <h3>Post a project</h3>
            <div class="post-project-fields">
                <form [formGroup]="postprojectform" (ngSubmit)="postprojects()">
                    <div class="row">
                        <div class="col-lg-12">
                            <input type="text" formControlName="title1" placeholder="Title">
                        </div>
                        <div *ngIf="postprojectform.controls.title1.invalid && ((postprojectform.controls.title1.dirty || postprojectform.controls.title1.touched) || isRegisterFormValid)"
                            class="alert alert-danger">
                            <div *ngIf="postprojectform.controls.title1.errors?.required">
                                Title is required.
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <input type="text" formControlName="country1" placeholder="country">
                        </div>
                        <div class="col-lg-12">
                            <input type="text" formControlName="skills1" placeholder="Skills">
                        </div>
                        <div class="col-lg-12">
                            <div class="price-sec">
                                <div class="price-br">
                                    <input type="text" formControlName="price1" placeholder="Price">
                                    <i class="la la-dollar"></i>
                                </div>
                                <span>To</span>
                                <div class="price-br">
                                    <input type="text" formControlName="price2" placeholder="Price">
                                    <i class="la la-dollar"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <textarea formControlName="description1" placeholder="Description"></textarea>
                        </div>
                        <div class="col-lg-12">
                            <ul>
                                <li><button class="active" type="submit">Post
                                        Project</button></li>
                                <li><a (click)="close()" title="">Cancel</a></li>
                            </ul>
                        </div>
                    </div>
                </form>
            </div>
            <a (click)="close()" title="">(X)</a>
        </div>
    </div>
</ng-template>
<ng-template #postjobs>
    <div>
        <div class="post-project">
            <h3>Post a job</h3>
            <div class="post-project-fields">
                <form [formGroup]="postjobform" (ngSubmit)="postjob()">
                    <div class="row">
                        <div class="form-group col-lg-12">
                            <input type="text" formControlName="title" placeholder="Title">
                        </div>
                        <div *ngIf="postjobform.controls.title.invalid && ((postjobform.controls.title.dirty || postjobform.controls.title.touched) || isRegisterFormValid)"
                            class="alert alert-danger">
                            <div *ngIf="postjobform.controls.title.errors?.required">
                                Title is required.
                            </div>
                        </div>
                        <div class="form-group col-lg-12">
                            <input type="text" formControlName="country" placeholder="country">
                        </div>
                        <div class="col-lg-12">
                            <input type="text" formControlName="skills" placeholder="Skills">
                        </div>
                        <div class="col-lg-6">
                            <div class="price-br">
                                <input type="text" formControlName="price" placeholder="Price">
                                <i class="la la-dollar"></i>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <textarea formControlName="description" placeholder="Description"></textarea>
                        </div>
                        <div class="col-lg-12">
                            <ul>
                                <li><button class="active" type="submit" value="post">Post</button></li>
                                <li><a (click)="close()" title="">Cancel</a></li>
                            </ul>
                        </div>

                    </div>
                </form>
            </div>
            <a (click)="close()" title="">(X)</a>
        </div>
    </div>
</ng-template>