<div>
  <app-header></app-header>
</div>
<br><br>
<div>
  <section class="cover-sec">
    <img src="../../../../assets/images/resources/cover-img.jpg" alt="">
  </section>
</div>
<div>
  <main>
    <div class="main-section">
      <div class="container">
        <div class="main-section-data">
          <div class="row">
            <div class="col-lg-3">
              <div class="main-left-sidebar">
                <div class="user_profile">
                  <div class="user-pro-img">
                    <img src="../../../../assets/images/resources/user-pro-img.png" alt="">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="main-ws-sec">
                <div class="user-tab-sec">
                  <h3 [ngClass]="['text-success']">Hi {{username}}</h3>
                  <div class="post-topbar">
                    <div class="user-picy">
                      <img src="../../../../assets/images/resources/user.png" alt="">
                    </div>
                    <app-post></app-post>
                  </div>
                </div>
                <div class="product-feed-tab current" id="feed-dd">
                  <div>
                    <div class="user-profile-ov">
                      <h3>Overview</h3>
                      <div *ngFor="let user of userinformation;let i = index;">
                        <div *ngIf="user.email==email">
                          <table class="table table-striped">
                            <thead>
                              <tr>
                                <th scope="col" class="text-center">Name</th>
                                <th scope="col" class="text-center">Email</th>
                                <th scope="col" class="text-center">Phone</th>
                                <th scope="col" class="text-center">Gender</th>
                                <th scope="col" class="text-center">Profession</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>{{user.fullname}}</td>
                                <td>{{user.email}}</td>
                                <td>{{user.Phonenumber}}</td>
                                <td>{{user.gender}}</td>
                                <td>{{user.profession}}</td>
                              </tr>
                            </tbody>
                          </table>
                          <div *ngIf="updateprofile">
                            <button type="submit" (click)="userformupdate(user)" class="btn btn-primary">Update
                              Profile</button>
                          </div>
                        </div>
                      </div>
                      <br><br>
                    </div>
                    <div class="user-profile-ov container">
                      <div *ngIf="block">
                        <h2>Update Form</h2>
                        <form [formGroup]="userform" (ngSubmit)="updateuserform()">
                          <div class="form-group">
                            <input class="text" (keypress)="keyPress($event)" type="text" formControlName="mobilenumber"
                              placeholder="Phonenumber" minlength="10" maxlength="10" required="">
                          </div>
                          <div
                            *ngIf="userform.controls.mobilenumber.invalid && ((userform.controls.mobilenumber.dirty || userform.controls.mobilenumber.touched) || isFormValid)"
                            class="alert alert-danger">
                            <div *ngIf="userform.controls.mobilenumber.errors?.required">
                              mobilenumber is required.
                            </div>
                            <div *ngIf="userform.controls.mobilenumber.errors?.maxlength">
                              mobilenumber cannot be more than
                              {{userform.controls.username.errors?.maxlength?.requiredLength}} characters long.
                            </div>
                            <div *ngIf="userform.controls.mobilenumber.errors?.minlength">
                              mobilenumber must be at least 10 characters long.
                            </div>
                          </div>
                          <br>
                          <div class="form-group">
                            <input class="text" type="text" formControlName="profession" placeholder="Profession"
                              required="">
                          </div>
                          <div
                            *ngIf="userform.controls.profession.invalid && ((userform.controls.profession.dirty || userform.controls.profession.touched) || isFormValid)"
                            class="alert alert-danger">
                            <div *ngIf="userform.controls.profession.errors?.required">
                              profession is required.
                            </div>
                            <div *ngIf="userform.controls.profession.errors?.maxlength">
                              profession cannot be more than
                              {{userform.controls.profession.errors?.maxlength?.requiredLength}} characters long.
                            </div>
                            <div *ngIf="userform.controls.profession.errors?.minlength">
                              profession must be at least 8 characters long.
                            </div>
                          </div>
                          <br>
                          <div class="form-group">
                            <input class="text" type="text" formControlName="gender" placeholder="Gender" required="">
                          </div>
                          <div
                            *ngIf="userform.controls.gender.invalid && ((userform.controls.gender.dirty || userform.controls.gender.touched) || isFormValid)"
                            class="alert alert-danger">
                            <div *ngIf="userform.controls.gender.errors?.required">
                              Gender is required.
                            </div>

                            <div *ngIf="userform.controls.gender.errors?.minlength">
                              Gender must be at least 4 characters long.
                            </div>
                          </div>
                          <div class="form-group">
                            <input type="submit" value="Update Password" class="btn btn-primary">
                            <button id="signupSubmit" type="reset" class="btn btn-warning"
                              (click)="cancel()">Canncel</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                  <div class="posts-section">
                    <div *ngIf="!search; else jobpostBlock">
                      <div *ngFor="let job of jobpost;let i = index;">
                        <div *ngIf="job.data.email==email">
                          <div class="post-bar">
                            <div class="post_topbar">
                              <div class="usy-dt">
                                <img src="../../../../assets/images/resources/user.png" alt="">
                                <div class="usy-name">
                                  <h3><b>{{job.data.name}}</b></h3>
                                  <span><img src="../../../../assets/clock.png" alt="">{{job.timeStamp| date:'full'}}
                                  </span>
                                </div>
                              </div>
                            </div>
                            <div class="epi-sec">
                              <ul class="descp">
                                <li><img src="../../../../assets/images/icon9.png"
                                    alt=""><span>{{job.data.country}}</span>
                                </li>
                              </ul>
                              <ul class="bk-links">
                                <li>
                                  <a title="">
                                    <span class="material-icons-outlined">
                                      <img src="../../../../assets/1x/outline_edit_note_black_24dp.png"
                                        (click)="Updaterecordjob(job,updatejob)">Edit
                                    </span>
                                  </a>
                                </li>
                                <li>
                                  <a title="">
                                    <span class="material-icons-outlined">
                                      <img src="../../../../assets/1x/outline_delete_black_24dp.png"
                                        (click)="Deleterecordjob(job.id)">Delete
                                    </span>
                                  </a>
                                </li>
                              </ul>
                            </div>
                            <div class="job_descp">
                              <h3>{{job.data.title | uppercase}}</h3>
                              <ul class="job-dt">
                                <li><a title="">JOB</a></li>
                                <li><span>{{job.data.price | currency:'INR'}} CTC</span></li>
                              </ul>
                              <h6 class="text-warning">Description</h6>
                              <p>{{job.data.description | lowercase}}</p>
                              <h6 class="text-danger ">Skill</h6>
                              <p>{{job.data.skills}}</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <ng-template #jobpostBlock>
                      <div *ngFor="let job of searchjobitem;let i = index;">
                        <div *ngIf="job.data.email==email">
                          <div class="post-bar">
                            <div class="post_topbar">
                              <div class="usy-dt">
                                <img src="../../../../assets/images/resources/user.png" alt="">
                                <div class="usy-name">
                                  <h3><b>{{job.data.name}}</b></h3>
                                  <span><img src="../../../../assets/clock.png" alt="">{{job.timeStamp| date:'full'}}
                                  </span>
                                </div>
                              </div>
                            </div>
                            <div class="epi-sec">
                              <ul class="descp">
                                <li><img src="../../../../assets/images/icon9.png"
                                    alt=""><span>{{job.data.country}}</span>
                                </li>
                              </ul>
                              <ul class="bk-links">
                                <li>
                                  <a title="">
                                    <span class="material-icons-outlined">
                                      <img src="../../../../assets/1x/outline_edit_note_black_24dp.png"
                                        (click)="Updaterecordjob(job,updatejob)">Edit
                                    </span>
                                  </a>
                                </li>
                                <li>
                                  <a title="">
                                    <span class="material-icons-outlined">
                                      <img src="../../../../assets/1x/outline_delete_black_24dp.png"
                                        (click)="Deleterecordjob(job.id)">Delete
                                    </span>
                                  </a>
                                </li>
                              </ul>
                            </div>
                            <div class="job_descp">
                              <h3>{{job.data.title | uppercase}}</h3>
                              <ul class="job-dt">
                                <li><a title="">JOB</a></li>
                                <li><span>{{job.data.price | currency:'INR'}} CTC</span></li>
                              </ul>
                              <h6 class="text-warning">Description</h6>
                              <p>{{job.data.description | lowercase}}</p>
                              <h6 class="text-danger ">Skill</h6>
                              <p>{{job.data.skills}}</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                    <div *ngIf="!search; else projectblock">
                      <div *ngFor="let project of projectpost;let i = index;">
                        <div *ngIf="project.data.email==email">
                          <div class="post-bar">
                            <div class="post_topbar">
                              <div class="usy-dt">
                                <img src="../../../../assets/images/resources/user.png" alt="">
                                <div class="usy-name">
                                  <h3><b>{{project.data.name}}</b></h3>
                                  <span><img src="../../../../assets/clock.png" alt="">{{project.timeStamp|
                                    date:'full'}}
                                  </span>
                                </div>
                              </div>
                            </div>
                            <div class="epi-sec">
                              <ul class="descp">

                                <li><img src="../../../../assets/images/icon9.png"
                                    alt=""><span>{{project.data.country1}}</span>
                                </li>
                              </ul>
                              <ul class="bk-links">
                                <li>
                                  <a title="">
                                    <span class="material-icons-outlined">
                                      <img src="../../../../assets/1x/outline_edit_note_black_24dp.png"
                                        (click)="editproject(project,updateproject)">Edit
                                    </span>
                                  </a>
                                </li>
                                <li>
                                  <a title="">
                                    <span class="material-icons-outlined">
                                      <img src="../../../../assets/1x/outline_delete_black_24dp.png"
                                        (click)="Deleterecordproject(project.id)">Delete
                                    </span>
                                  </a>
                                </li>
                              </ul>
                            </div>
                            <div class="job_descp">
                              <h3> {{project.data.title1 | uppercase}}</h3>
                              <ul class="job-dt">
                                <li><a title="">Project</a></li>
                                <li><span> {{project.data.price1 | currency:'INR':'code'}} </span>
                                </li>
                                <li><span>to</span></li>
                                <li><span>{{project.data.price2 | currency:'INR' :'code'}} </span>
                                </li>
                              </ul>
                              <h5 class="text-warning ">Description</h5>
                              <p>{{project.data.description1 | lowercase}}</p>
                              <h6 class="text-danger ">Skill</h6>
                              <p>{{project.data.skills1}}</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <ng-template #projectblock>
                      <div *ngFor="let project of searchproject;let i = index;">
                        <div *ngIf="project.data.email==email">
                          <div class="post-bar">
                            <div class="post_topbar">
                              <div class="usy-dt">
                                <img src="../../../../assets/images/resources/user.png" alt="">
                                <div class="usy-name">
                                  <h3><b>{{project.data.name}}</b></h3>
                                  <span><img src="../../../../assets/clock.png" alt="">{{project.timeStamp|
                                    date:'full'}}
                                  </span>
                                </div>
                              </div>
                            </div>
                            <div class="epi-sec">
                              <ul class="descp">

                                <li><img src="../../../../assets/images/icon9.png"
                                    alt=""><span>{{project.data.country1}}</span>
                                </li>
                              </ul>
                              <ul class="bk-links">
                                <li>
                                  <a title="">
                                    <span class="material-icons-outlined">
                                      <img src="../../../../assets/1x/outline_edit_note_black_24dp.png"
                                        (click)="editproject(project,updateproject)">Edit
                                    </span>
                                  </a>
                                </li>
                                <li>
                                  <a title="">
                                    <span class="material-icons-outlined">
                                      <img src="../../../../assets/1x/outline_delete_black_24dp.png"
                                        (click)="Deleterecordproject(project.id)">Delete
                                    </span>
                                  </a>
                                </li>
                              </ul>
                            </div>
                            <div class="job_descp">
                              <h3> {{project.data.title1 | uppercase}}</h3>
                              <ul class="job-dt">
                                <li><a title="">Project</a></li>
                                <li><span> {{project.data.price1 | currency:'INR':'code'}} </span>
                                </li>
                                <li><span>to</span></li>
                                <li><span>{{project.data.price2 | currency:'INR' :'code'}} </span>
                                </li>
                              </ul>
                              <h5 class="text-warning ">Description</h5>
                              <p>{{project.data.description1 | lowercase}}</p>
                              <h6 class="text-danger ">Skill</h6>
                              <p>{{project.data.skills1}}</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </div>
                </div>
                <div class="process-comm">
                  <div class="spinner">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="right-sidebar">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>

<ng-template #updatejob>
  <div>
    <div class="post-project">
      <h3>Post a job</h3>
      <div class="post-project-fields">
        <form [formGroup]="postjobform" (ngSubmit)="updatejobs()">
          <div class="row">
            <div class="form-group col-lg-12">
              <input type="text" formControlName="title" placeholder="Title">
            </div>
            <div
              *ngIf="postjobform.controls.title.invalid && ((postjobform.controls.title.dirty || postjobform.controls.title.touched) || isFormValid)"
              class="alert alert-danger">
              <div *ngIf="postjobform.controls.title.errors?.required">
                Title is required.
              </div>
            </div>
            <div class="form-group col-lg-12">
              <input type="text" formControlName="country" placeholder="country">
            </div>
            <div class="col-lg-12">
              <input type="text" formControlName="skills" placeholder="Skills">
            </div>
            <div class="col-lg-6">
              <div class="price-br">
                <input type="text" formControlName="price" placeholder="Price">
                <i class="la la-dollar"></i>
              </div>
            </div>
            <div class="col-lg-12">
              <textarea formControlName="description" placeholder="Description"></textarea>
            </div>

            <div class="col-lg-12">
              <ul>
                <li><button mat-raised-button color="warn" type="submit">Update</button>
                </li>
                <li><button (click)="close()" mat-raised-button>Cancel</button></li>
              </ul>
            </div>

          </div>
        </form>
      </div>
      <a (click)="close()" title="">(X)</a>
    </div>
  </div>
</ng-template>
<ng-template #updateproject>
  <div>
    <div class="post-project">
      <h3>Post a project</h3>
      <div class="post-project-fields">
        <form [formGroup]="postprojectform" (ngSubmit)="updateprojects()">
          <div class="row">
            <div class="col-lg-12">
              <input type="text" formControlName="title1" placeholder="Title">
            </div>
            <div
              *ngIf="postprojectform.controls.title1.invalid && ((postprojectform.controls.title1.dirty || postprojectform.controls.title1.touched) || isFormValid)"
              class="alert alert-danger">
              <div *ngIf="postprojectform.controls.title1.errors?.required">
                Title is required.
              </div>
            </div>
            <div class="col-lg-12">
              <input type="text" formControlName="country1" placeholder="country">
            </div>
            <div class="col-lg-12">
              <input type="text" formControlName="skills1" placeholder="Skills">
            </div>
            <div class="col-lg-12">
              <div class="price-sec">
                <div class="price-br">
                  <input type="text" formControlName="price1" placeholder="Price">
                  <i class="la la-dollar"></i>
                </div>
                <span>To</span>
                <div class="price-br">
                  <input type="text" formControlName="price2" placeholder="Price">
                  <i class="la la-dollar"></i>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <textarea formControlName="description1" placeholder="Description"></textarea>
            </div>
            <div class="col-lg-12">
              <ul>
                <li><button mat-raised-button color="warn" type="submit">Update</button>
                </li>
                <li><button (click)="close()" mat-raised-button>Cancel</button></li>
              </ul>
            </div>
          </div>
        </form>
      </div>
      <a (click)="close()" title="">(X)</a>
    </div>
  </div>
</ng-template>