<div class="footy-sec">
    <div class="container">
        <ul>
            <li><a  title="">Help Center</a></li>
            <li><a  title="">About</a></li>
            <li><a  title="">Privacy Policy</a></li>
            <li><a  title="">Community Guidelines</a></li>
            <li><a  title="">Cookies Policy</a></li>
            <li><a  title="">Career</a></li>
            <li><a  title="">Forum</a></li>
            <li><a  title="">Language</a></li>
            <li><a  title="">Copyright Policy</a></li>
        </ul>
        <p><img src="./../../../assets/images/copy-icon.png" alt="">Copyright 2019</p>
    </div>
</div>